


.features-item {
   
    display: inline-flex;
    padding-top: 50px;
    margin-top: 50px;
    margin-left: 160px;

}

.features-item .features-title p {
    font-weight: 300;
    padding-top: 10px;
    width: 100%;
    font-size: 16px;
}


.features-item .features-title h2 {
    font-size: 25px;
    /* padding-top: 5px; */

}

.features-item .features-title {
    margin-left: 50px;
}

.feature-img {
    max-width: 100%;
    width: 100px;
    height: 100px;

}

.feature-img img {
    object-fit: cover;
    width: 70px;
    height: 70px; 
}